body {
    background-image: url("images/background-weather2.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

#container {
    width: 1100px;
}

#weather_card {
    margin-left: 4rem;
    margin-bottom: 1rem;
    color: white;
    font-family: Monaco;
    width: 22rem;
    height: 18rem;
    background-color: #277ed9;
    padding: 0.5rem;
    text-align: center;
    opacity: 0.7;
    border-radius: 20px;
}

#forecast {
    margin-left: 1.5rem;
}

#daily_forecast {
    margin-top: 0.5rem;
    float: left;
    font-size: 20px;
    margin-left: 0.5rem;
    color: white;
    font-family: Monaco;
    width: 13rem;
    height: 17rem;
    background-color: #ADA7C9;
    padding: 0.1rem;
    text-align: center;
    opacity: 0.7;
    border-radius: 20px;
}

.temperature {
    font-size: 60px;
    float: left;
    margin-left: 15%;
}

.icon_main {
    clear: both;
}

.parameters {
    margin-left: 1.25rem;
    float: left;
}
